@{
    ViewBag.Title = "SetCookie";
}

<h2>Tu Cookie es @ViewBag.nuevaCookie</h2>
<h2>
    Seleccionaste: @ViewBag.apple
    @ViewBag.dell
    @ViewBag.apple
    @ViewBag.lenevo
    @ViewBag.acer
    @ViewBag.sony
    @ViewBag.wipro
</h2>
